@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(/imgs/img1.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: change 30s infinite ease-in-out;
    position: fixed;
    align-items: center;
    position: center;
    text-align: center;
}

@keyframes change{
    0%
    {
        background-image: url(/imgs/img1.jpg);
    }
    20%
    {
        background-image: url(/imgs/img2.jpg);

    }
    40%
    {
        background-image: url(/imgs/img3.jpg);
    }
    60%
    {
        background-image: url(/imgs/img4.jpg);
        }
    80%
    {
        background-image: url(/imgs/img1.jpg);
    }
}

div{
    background-color: rgba(255, 255, 255, 0.452);
    text-align: center;
    margin-left: 35%;
    border-radius: 5px;
    padding: 20px;
}

input{
    width: 500px;
    height: 50px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    margin-top: 5px;
    font-size: 20px;
}

