
   @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(/imgs/img1.jpg);
    background-position: relative;
    background-repeat: repeat;
    animation: change 60s infinite ease-in-out;
    position: fixed;
    backdrop-filter:grayscale(100%);
    background-size: cover;
}
.divInput{
    align-items: center;
}


@keyframes change{
    0%
    {
      background-image: url(../../imgs/img1.jpg);
    }
    20%
    {
      background-image: url(../../imgs/img2.jpg);
    }
    40%
    {
      background-image: url(../../imgs/img3.jpg);
    }
    60%
    {
      background-image: url(../../imgs/img4.jpg);
    }
    80%
    {
      background-image: url(../../imgs/img1.jpg);
  }
}

#inputPesquisa{
    border:solid 1px rgb(193, 100, 255);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(193, 100, 255);
}

#btnPesquisa{
  margin-left: 2px;
    background-color: white;
    border: solid 1px rgb(193, 100, 255);
    box-shadow: 1px 1px 5px rgb(193, 100, 255);
    height: 40px;
    border-radius: 5px;
}

#btnPesquisa:hover{
  background-color:rgba(229, 194, 255, 0.966);
}

#divTimes{
    margin-top: 100px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: transparent;

}

.resultado{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
}

#times{
    background-color: rgba(195, 255, 255, 0.301);
    margin-right:30%;
    margin-left: 30%;
    border-radius: 1em;
    padding: 6px;
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
}

#imgTime, .imgJogador{
    padding: 10px;
    border-radius: 2em;
}

 a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.5em;
  }
  
  a:hover {
    color:rgb(193, 100, 255);
    text-shadow: 2px 2px 5px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(70, 27, 100, 0.966) 10%, rgba(23, 3, 37, 0.966));
    height: 8vh;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }


  #escolha{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    background-color:rgba(41, 8, 65, 0.966);
    border-radius: 5px;
    border: solid 1px white;
    transition: 0.3s;

  }
  #escolha:hover{
    border: solid 1px rgb(193, 100, 255);
    color:rgb(193, 100, 255);
    text-shadow: 2px 2px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(193, 100, 255);
  }


  #nomeTime{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.869);
    margin-left: 220px;
    margin-right: 220px;
    background-color: rgba(255, 255, 255, 0.869);
  }

  #paisFooter{
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.869);
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(255, 255, 255, 0.869);
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(255, 0, 0);
}

.material-symbols-outlined:hover{
  font-variation-settings:'FILL' 1,
      'wght' 500,
      'GRAD' 0,
      'opsz' 40;
      color: rgba(255, 0, 0, 0.479);
    }
