
   @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    width: 100vw;
    height: 100%;
    background-image: url(/imgs/img1.jpg);
    background-position: relative;
    background-repeat: no-repeat;
    animation: change 60s infinite ease-in-out;
    position: fixed;
    backdrop-filter:grayscale(100%);
    background-size: 100%;
}
.divInput{
    align-items: center;
}


@keyframes change{
    0%
    {
        background-image: url(/imgs/img1.jpg);
    }
    20%
    {
        background-image: url(/imgs/img2.jpg);

    }
    40%
    {
        background-image: url(/imgs/img3.jpg);
    }
    60%
    {
        background-image: url(/imgs/img4.jpg);
        }
    80%
    {
        background-image: url(/imgs/img1.jpg);
    }
}

#inputPesquisa{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    border-radius: 5px;
}

#btnPesquisa{
    height: 40px;
    border-radius: 5px;
    border: none;
}

#divTimes{
    margin-top: 100px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: transparent;

}

.resultado{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
}

.times{
    background-color: rgba(255, 166, 0, 0.588);
    margin-right:30%;
    margin-left: 30%;
    border-radius: 5px;
    padding: 6px;
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
}

.imgTime, .imgJogador{
    padding: 10px;
    border-radius: 2px;
}

 a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.5em;
  }
  
  a:hover {
    color:rgb(193, 100, 255);
    text-shadow: 2px 2px 5px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color:rgba(23, 3, 37, 0.966);
    height: 8vh;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }